@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<SurveyPrompt Title="How is Blazor working for you?" />
<Bdaya.Net.Blazor.FileUplodar.MultiFileUploader Images="@(new List<string> { 
                                                              "https://image.shutterstock.com/image-vector/paper-stickers-error404-oopsno-photo-260nw-85288510.jpg", "https://www.chinkung.org/wp-content/themes/consultix/images/no-image-found-360x250.png", "https://www.chinkung.org/wp-content/themes/consultix/images/no-image-found-360x250.png"})"/>